.socialsAnchor {
    padding: 5px;
}
.socialsAnchor i {
    font-size: 20px;
    color: #1a1a1aff;
}

#spanHello {
    padding-left: 20px;
    font-family: "Roboto";
    text-transform: uppercase;
    color: #1a1a1aff;
}

.spacer {
    flex: 1;
}

.toolbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    display: flex;
    align-items: center;
    background-color: #808080ff;
    color: white;
    font-weight: 600;
}
