#mailToDiv,
#whatsappToDiv {
    margin: 0 auto;
    color: #1a1a1aff;
}

a#mailtoHarry,
a#whatsappToNumber {
    color: #1a1a1aff;
}
#socialsIcons {
    color: #1a1a1aff;
    padding: 5px;
}

.mainFooter {
    background-color: #808080ff;
    height: 60px;
    color: white;
    font-weight: 600;
    width: 100%;
    padding: 0 20px;
    position: fixed;
    bottom: 0px;
    align-content: center;
}

footer {
    margin-top: 8px;
    display: flex;
    align-items: center;
    line-height: 20px;
}

