<!-- Footer -->
<footer class="mainFooter">
  <div id="mailToDiv">
    Email:<a id="mailtoHarry" href="mailto:{{ContactEmailValue}}"><i id="socialsIcons" class="fa fa-envelope" aria-hidden="true"></i></a>
  </div>
  <div id="whatsappToDiv">
    Phone:<a id="whatsappToNumber" href="https://api.whatsapp.com/send?phone={{ContactNumberValue}}"><i id="socialsIcons" class="fa-brands fa-whatsapp"></i></a> | <a href="whatsapp://send?phone={{ContactNumberValue}}"><i id="socialsIcons" class="fa-brands fa-whatsapp"></i></a>
  </div>
</footer>
